
body {
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#ffffff;
color:#111;
}

header {
background:#3535c6;
padding:20px;
text-align:center;
width:100%;
}

header h1 {
color:white;
margin:0 0 15px 0;
font-size:28px;
}

nav ul {
list-style:none;
padding:0;
margin:0;
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:15px;
}

nav a {
color:white;
text-decoration:none;
font-size:14px;
padding:6px 10px;
border-radius:6px;
transition:0.2s;
}

nav a:hover {
background:rgba(255,255,255,0.2);
}

.prosjekter {
    display: inline-block;
}